         body {

             justify-content: center;
             color: blueviolet;
             background-color: palevioletred;
             margin-left: 380px;
             margin-top: 90px;
         }